<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container" layout:fragment="content">
    <h2 class="py-4 headerTitle">
        제품리스트
    </h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>제품명</th>
                <th>주문수량</th>
                <th>담당직원</th>
                <th>주문날짜</th>
                <th>에러</th>
                <th>완제품</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="jobOrder : ${jobOrders}">
                <td th:text="${jobOrder.id}"></td>
                <td th:text="${jobOrder.productName}"></td>
                <td th:text="${jobOrder.orderQuantity}"></td>
                <td th:text="${jobOrder.employee.loginId}"></td>
                <td th:text="${#temporals.format(jobOrder.orderDate,'yyyy-MM-dd hh-mm')}"></td>
                <td th:text="${ngCountByJobOrder[jobOrder.id]?:0}"></td>
                <td th:text="${productCountByJobOrder[jobOrder.id]?:0}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 차트 추가 -->
    <div class="my-5">
        <h3 class="py-4">주문별 바차트</h3>
        <canvas id="orderChart"></canvas>
    </div>
    <div class="p-5"></div>
</div>
<script th:inline="javascript" layout:fragment="script">
    let chartData = JSON.parse([[${chartData}]]);
    const ctx = document.getElementById('orderChart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: chartData.labels, // 제품명
            datasets: [
                {
                    label: '주문 수량',
                    data: chartData.orderQuantity,
                    backgroundColor: 'rgba(54, 162, 235, 0.6)'
                },
                {
                    label: '에러 개수',
                    data: chartData.errorCount,
                    backgroundColor: 'rgba(255, 99, 132, 0.6)'
                },
                {
                    label: '완제품 개수',
                    data: chartData.productCount,
                    backgroundColor: 'rgba(75, 192, 192, 0.6)'
                }
            ]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { position: 'top' }
            },
            scales: {
                y: { beginAtZero: true }
            }
        }
    });
</script>
</html>