<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="container" layout:fragment="content">
        <h2 class="py-4 headerTitle">재고입력</h2>
        <div class="row">
            <div class="col-md-2"></div>
            <form role="form" th:object="${materialForm}" method="post" class="py-2 col-md-8">
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors()}">
                    <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label  fw-bold" th:for="*{materialName}">원재료</label>
                    <select th:field="*{materialName}" class="form-control">
                        <option value="">원재료를 선택하세요</option>
                        <option th:each="materialName : ${T(com.example.tint.domain.MaterialName).values()}" th:value="${materialName}" th:text="${materialName}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold" th:for="*{materialQuantity}">수량</label>
                    <input class="form-control" th:field="*{materialQuantity}">
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold" th:for="*{correspondentName}">거래처</label>
                    <select th:field="*{correspondentName}" class="form-control">
                        <option value="">거래처를 선택하세요</option>
                        <option th:each="correspondentName : ${T(com.example.tint.domain.CorrespondentName).values()}" th:value="${correspondentName}" th:text="${correspondentName}"></option>
                    </select>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-warning btn-sm">입력</button>
                </div>
            </form>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>